@model PedidosProvidedHostedMVCAppWeb.Models.Totales

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h3>Total pedidos: @Model.Numero</h3>
<h3>Total facturado: @Model.Total</h3>
<h3>Por cliente: @Model.MediaCliente</h3>



